html
{
    scroll-behavior: smooth;
}

body
{
    scroll-behavior: smooth;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 30px;
    background-color:#d2939c;
    padding: 0;
    margin: 0;  
}

.center
{
    background-image: url('./zdj/flowers.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.menu
{
    align-items: center;
    margin-top: 30px;
    background-color: aliceblue;
    height: 100px;
    width: 90%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.menu_nav a
{
    text-decoration: none;
    padding: 50px;
    color: black;
}

.menu_nav a:hover
{
    color: rgba(0, 0, 0, 0.6);
}

.about >div
{ 
    width: 80%;
    text-align: justify;
}

.about
{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex; 
    justify-content: center;
    
}
.gallery
{
    align-items: center;
    display: flex; 
    align-self: center;
}  

.slides
{
    display: flex;
    justify-content: center;
}

.sect1
{
    width: 80%;
    background-color:#453852;
    padding: 40px 0 40px 50px;
    display: flex;
}

.sect2
{
    width: 80%;
    background-color:#D99FAE;
    padding: 40px 0 40px 50px;
    display: none;
}

.sect3
{
    width: 80%;
    background-color:#BEB0A7;
    padding: 40px 0 40px 50px;
    display: none;
}

.photo_container
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}

.photo_container >img
{
    width: 90%;
    height: auto;
}

.buttonleft
{
    height: 100%;
    padding: 10px 20px;
    position: absolute;
    opacity: 0.8;
    left: 0;
}

.buttonright
{
    height: 100%;
    padding: 10px 20px;
    position: absolute;
    opacity: 0.8;
    right: 0;
}


.contact
{
    padding: 100px;
    display: flex;
    justify-content: center;
}

.contact >div a
{
    text-decoration: none;
    color: black;
}

#fbbox:hover > img 
{
    animation: animate 1.5s linear;
}
#instabox:hover >img
{
    animation: animate 1.5s linear;
}
#ytbox:hover >img
{
    animation: animate 1.5s linear;
}
#twitbox:hover >img
{
    animation: animate 1.5s linear;
}
#pinbox:hover >img
{
    animation: animate 1.5s linear;
}

@keyframes animate
{
    0%
    {
        transform: translateY(0px);
    }
    10%
    {
        transform: translateY(-15px);
    }
    15%
    {
        transform: translateY(0px);
    }
    25%
    {
        transform: translateY(-8px);
    }
    30%
    {
        transform: translateY(0px);
    }
    35%
    {
        transform: translateY(-5px);
    }
    45%
    {
        transform: translateY(0px);
    }
    100%
    {
        transform: translateY(0px);
    }
}

@media (max-width: 550px)
{
    body
    {
        font-size: 20px;
    }

    .center
    {
        overflow: hidden;
    }

    .menu
    {
        margin-top: 0;
        height: 100px;
        width: 100%;
       
    }

    .menu_nav a 
    {
        padding: 10px;
    }

    .gallery
    {
        padding: 0;
        width: 100%;
        display: block;
    }

    .sect1
    { 
        padding: 20px;
        width: 100%;
        display: block;
    }

    .sect2
    { 
        padding: 20px;
        width: 100%;
        display: block;
    }

    .sect3
    {      
        padding: 20px;
        width: 100%;
        display: block;
    }

    .photo_container >img
    {
        width: 90%;
        height: auto;
    }
}